<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <heliconZoo>
   <application name="django.project" >
    <environmentVariables>
     <add name="PYTHONPATH"
          value="%APPL_PHYSICAL_PATH%;%APPL_PHYSICAL_PATH%\python_modules\Lib\site-packages;%PYTHONPATH%" />
     <add name="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
     <add name="django.root" value="%APPL_VIRTUAL_PATH%" />
     <add name="DEPLOY_FILE" value="deploy.py" />
     <add name="DEPLOY_LOG" value="log\deploy.log" />
     <add name="WATCH_FILE_CHANGES_MASK" value="*.py" />
    </environmentVariables>
   </application>
  </heliconZoo>
  <handlers>
   <add name="django.project#x86" scriptProcessor="python.2.7.wsgi"
        path="*" verb="*" modules="HeliconZoo_x86"
        preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
   <add name="django.project#x64" scriptProcessor="python.2.7.wsgi"
        path="*" verb="*" modules="HeliconZoo_x64"
        preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
  </handlers>
 </system.webServer>
</configuration>