{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
    <div class="container">
        <h1>Welcome to Thaicom Link Budget!</h1>

        <p>This website provides a detailed link budget calculation for Thaicom satellites and also a rough
            calculation for other satellites.</p>

        <p><a class="btn btn-primary btn-lg" href="{%  url 'linkbudget_index'  %}">Try it yourself »</a></p>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-4">
            <h2>Why do you need a link budget?</h2>

            <p>The link budget is a process to simulate and verify the satellite communication links with given
                resources.
                It helps you to estimate the resources needed to close a satellite link with given requirements.
                The resources can be either antenna dish, power, satellite bandwidth, service coverage area or service
                availability.</p>

        </div>
    </div>
    <hr>

    <footer>
        <p>Created by Communication Systems Department</p>
    </footer>
</div>
{%  endblock %}